body {
    font-family: Arial, sans-serif;
    background: url('https://i.imgur.com/wqHduUJ.jpeg') no-repeat center center fixed; /* Desktop background */
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    body {
        background: url('https://i.imgur.com/ay2lGyS.jpeg') no-repeat center center fixed; 
        background-size: cover;
    }
}

.timer {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
}

.timer h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.countdown {
    font-size: 30px;
}

.countdown span {
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px;
}
